html {
    height: 100%;
    width: 100%;
    background-color:rgb(186, 186, 186);
  }
header { 
    position: fixed;
    top:0;
    right:0;
}
a {
    color: rgb(0, 255, 64);
    font-family: Impact;
}
body {
    color: rgb(84, 46, 6);
    font-family:Impact;
}
img {
    width:100%
}