html {
    height: 100%;
    width: 100%;
  }
header {
    display: flex;
    position: fixed;
}
a {
    color: rgb(0, 212, 81);
    font-family: Impact;
}

p {
    color: rgb(0, 0, 255);
    font-family:Impact;
}
